.warning-wrapper {
    background-image: url('../assets/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning-wrapper .content {
    background-image: url('../assets/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px;  /* Increase padding for a bigger box */
    border-radius: 10px;
    text-align: center;
    position: relative;  /* Add this to control position of children */
}

.warning-wrapper .logo {
    position: absolute; /* Position logo absolutely within .content */
    top: 26%;           /* Move it to the vertical center */
    left: 50%;          /* Move it to the horizontal center */
    transform: translate(-50%, -50%); /* Center the logo */
    margin: 0;  /* Reset the margin */
}

.warning-wrapper h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 85px;  /* Add some margin to move content down */
}

.warning-wrapper p {
    font-size: 16px;
    margin-bottom: 20px;
}

.warning-wrapper .buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.warning-wrapper button {
    border: none;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.warning-wrapper button:hover {
    background-color: #555;
}

.warning-wrapper .socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
